<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="main.css">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <div id="app" class="container" v-cloak>
      <div class="wrapper">
        <p class="title">{{ title }}</p>
        <div class="add-task">
          <input v-model="newTask">
          <button v-on:click="addTask">追加する</button>
        </div>
        <section class="tasks">
          <ul>
          <template v-for="(task, index) in tasks">
              <li
                :key="task"
                :id="index"
                :class="{ complete: task.isComplete }"
                @click="completeTask(index)"
              >
                {{ task.title }}
                <button
                  @click="deleteTask(index)"
                  class="trash-icon"
                  >
                  <i class="fas fa-trash"></i>
              </button>
              </li>
            </template>
          </ul>
        </section>
        <section class="remainingTasks">
          残り{{ remaining.length }}個のタスクが残っています
        </section>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </html>

<script>
  new Vue({
    el: "#app",
    data: {
      title: "My First Todo App",
      newTask: "",
      tasks: []
    },
    computed: {
      remaining() {
        return this.tasks.filter((task) => {
          return !task.isComplete
        })
      }
    },
    mounted() {
      this.getLocalStorageData()
    },
    methods: {
      addTask() {
        if (!this.newTask.length) { return }

        this.tasks.push({ title: this.newTask, isComplete: false })
        this.saveToLocalStorage()
        this.newTask = ""
      },
      deleteTask(index) {
        this.tasks.forEach((tasks, loopIndex) => {
          if (index === loopIndex) {
            this.tasks.splice(index, 1);
          }
        })
      },
      completeTask(index) {
        this.tasks.forEach((task, loopIndex) => {
          if (index === loopIndex) {
            task.isComplete = !task.isComplete;
          }
        })
        this.saveToLocalStorage()
      },
      getLocalStorageData () {
        const data = localStorage.getItem('todo');

        if (data) {
          this.tasks = JSON.parse(data);
        }
      },
      saveToLocalStorage () {
        localStorage.setItem('todo', JSON.stringify(this.tasks));
      }
    },
  })
</script>

