body {
  background: #FEEEED;
  color: #444;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
  background: #ffffff;
  padding: 45px 35px;
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  text-align: center;
  padding: 20px 0;
}

.container .wrapper {
  margin: 80px 80px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #16080d;
}

.add-task {
  margin: 30px 0;
}

.add-task input {
  width: 80%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline;
}

.add-task input:focus {
  outline: none !important;
  border-color: #f7cbda;
}

.add-task button {
  background-color: #e55286;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;  
}

.add-task button:hover {
  background-color: #e76392;
}

.tasks ul {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  display: inline-block;
  padding-left: 0px;
  margin: 10px 0px; 
}

.tasks li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin: 0px 12px 12px 12px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
  text-align: start;
}

.tasks li:hover {
  cursor: pointer;
}

.tasks .trash-icon {
  position: absolute;
  height: 100%;
  right: 0px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.tasks .trash-icon:hover {
  background: #e95d4f;
}

.tasks .complete {
  text-decoration: line-through;
  color: #a9a9a9;
  background: #d9d9d9;
}

.tasks .check-icon {
  position: absolute;
  height: 100%;
  left: 0px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.remainingTasks {
  text-align: start;
  margin-left: 13px;
  font-size: 12px;
  color: #a9a9a9;
}

[v-cloak] {
  display: none;
}